// $hr-color: #B0E2FF;

.terms {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main {
  margin: 0;
  padding: 28px;
  border-radius: 12px;
}

.is-fullheight-with-navbar {
    background-image: url(https://wallpaperstudio10.com/static/wpdb/wallpapers/1000x563/171825.jpg);
    background-size: cover;
    color: whitesmoke;

    .title, .subtitle {
      color: white;
    }
}

.events {
    text-align: center;
}

a.navbar-item {
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Poiret One', cursive;
  &:hover.navbar-item {
    color: #77DCFF;
  }
}
