@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

// $hr-color: #B0E2FF;
$ng-color: #008753;

body {
    font-family: 'ABeeZee', sans-serif;
}

.terms {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.is-fullheight-with-navbar {
  background-size: cover;
  color: whitesmoke;

  .title, .subtitle {
    color: white;
  }
}
  .label, .input {
    font-size: 20px;
  }

#background-change {
  background-position: center;
  background-size: cover;
  background-image: contain;
  transition: background-image 2s ease;
}
.title {
  font-family: 'Baloo Chettan', cursive;
}
.marker{
  width: 30px;
}

.popupimage{
  width: 200px;
}

.is-green {
  background-color: $ng-color;
}

 .submit {
   color: white;
 }

.footer {
  background-color: $ng-color;
  display: block;
  p {
    text-transform: uppercase;
    font-weight: 700;
  }

}

.main {
  margin: 0;
  padding: 28px;
  border-radius: 12px;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column; // ---> new Feature
}

.events {
  text-align: center;
}

.navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
}

a.navbar-item {
  color: whitesmoke;
  padding-top: 10px;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Baloo Chettan', cursive;
  // transition: all .3s ease;
  transition: color .3s ease, opacity .3s ease;
  cursor: pointer;
  &:hover.navbar-item {
    // color: #77DCFF;
    color: $ng-color;
    background: transparent;
    border-bottom: 4px solid whitesmoke;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social>* {
  margin: 10px;
  // flex: 1 1 160px;
}

.marker {
  width: 30px;
}

#login-form {
  width: 50vw;
  padding-top: 100px;
}

#contact-page {
  margin: auto;
}

.hero-body.show {
  margin-top: 52px;
  border-top: 10px solid white;
}

.card {
  min-height: 355.453px;
}

.contact>.card {
  max-height: 10px;
}

.register {
  padding-top: 100px;
}

// .title, .display { 
//   color: #FFD700;
// }

// .card-contact {
//   height: 350px;
// }