// $hr-color: #B0E2FF;

.terms {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.is-fullheight-with-navbar {
  background-image: url(https://wallpaperstudio10.com/static/wpdb/wallpapers/1000x563/171825.jpg);
  background-size: cover;
  color: whitesmoke;

  .title, .subtitle {
    color: white;
  }
}

.main {
  margin: 0;
  padding: 28px;
  border-radius: 12px;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  flex-direction: column; // ---> new Feature
}

.events {
  text-align: center;
}

a.navbar-item {
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Poiret One', cursive;
  &:hover.navbar-item {
    color: #77DCFF;
  }
}
//
//  body {
//    min-height: 100vh;
//  }
//
//  .footer {
//   background-color: #363636;
//   height: 50px;
//   margin-top: auto; // ---> new Feature
// }
//
// section {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   width: 100%;
//   height: 100%;
// }
//
//
// .home-container {
//   display: flex;
//   align-items: center;
//   justify-content: center; // ---- new Feature
//
//   .title-container {
//     // background-color: rgba(0, 0, 0, 0.3); ----> new Feature
//     max-width: 600px;
//     border-radius: 10px;
//   }
// }
